* {
  font-family: Calibri;
}

.Title {
  background-color: bisque;
  border: 1px solid;
  height: 40px;
  width: 370px;
}

.OuterContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.InnerContainer {
  background-color: lightgrey;
  margin-top: 5px;
  margin-bottom: 20px;
  height: 150px;
  width: 175px;
}

h1 {
  color: aqua;
  text-align: center;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  transform: translateY(-50%);
}

h3 {
  transform: translateX(10%);
}

img {
  height: 150px;
  width: 175px;
  object-fit: cover;
  padding: 0 5px;
}
